h1{text-align:center;color:#290955;font-family:Fantasy}
h2{font-size:120%;color:#735d92;font-family:Sans-serif}
h3{font-size:150%;color:#735d92;}
table{border-style:double;border width:8px;border-color:#290955;text-align:center;color:#492f6d;font-size:120%;font-family:Times}
body{margin-left:200px;margin-top:30px;margin-bottom:30px;}
